<div class="col-md-10 col-md-offset-1">

  <% if @admin_view %>
    <h2 class="pretty-font">waiting for approval</h2>
    <% @unapproved_owners.each_with_index do |o, index| %>
      <%= render 'owner_card', owner: o, index: index, admin_view: @admin_view, link_to_path: user_path(o) %>
    <% end %>
  <% end %>

  <h2 class="pretty-font">venues</h2>

  <% @owners.each_with_index do |o, index| %>
    <%= render 'owner_card', owner: o, index: index, admin_view: @admin_view, link_to_path: user_path(o) %>
  <% end %>

  <%= content_tag(:h2, "no venues available") if @owners.empty? %>
</div>
