<% if date %>
  <div class="event-days <%= today_or_tomorrow_class(event) %> visible-md visible-sm visible-xs">
    <h4 class="short-hd"><%= event.pretty_active_time %></h4>
    &nbsp;
    <h4 class="short-hd"><%= event.pretty_time_range %></h4>
  </div>
<% end %>
