<% compact ||= false %>

<h4 class="short-hd pull-right <%= 'hidden-sm hidden-xs' if compact %>">
  <small>
    <%= event.pretty_time_range %>
  </small>
  <div class="event-days <%= today_or_tomorrow_class(event) %>">
    <%= event.pretty_active_time %>
  </div>
</h4>
