<h4 class="pull-right hidden-xs hidden-sm">
  <%= event.pretty_time_range %>
  <% if date %>
    <div class="event-days <%= today_or_tomorrow_class(event) %>">
      <%= event.pretty_active_time %>
    </div>
  <% end %>
</h4>
