<h4 class="short-hd visible-xs visible-sm">
  <small class="hidden-xs hidden-sm">
    <%= event.pretty_time_range %>
  </small>
  <% if date %>
    <div class="event-days <%= today_or_tomorrow_class(event) %>">
      <%= event.pretty_active_time %>
    </div>
  <% end %>
</h4>
