<div class="card">
  <h4>
    <%= event.name %>
  </h4>

  <h4 style="float: right">
    <%= "From " + event.start_time.strftime("%I:%M%p") + " to " + event.end_time.strftime("%I:%M%p") %>
  </h4>

  <p>
    <%= event.description %>
  </p>
</div>
