<div id="mast-head" class="col-lg-12">
  <div id="mast-logo" class="col-lg-4 col-lg-offset-4">
  <center>
    <%= link_to root_path do %>
      <%= image_tag "LogoLines.png" %>
    <% end %>
  </center>
  </div>
</div>
