<nav class="navbar navbar-dark default-color">
  <div class="container-fluid">
    <ul class="nav navbar-nav">

      <li class="nav-item">
        <%= link_to "Home", root_url, class: "nav-link waves-effect glyphicon glyphicon-home" %>
        <i class: "glyphicon glyphicon-home" ></i>
      </li>
    </ul>
  </div>
</nav>
