<div class="card card-durag">
  <div class="names">
    <h3 style="font-family: 'Lobster', cursive;"> Owners </h3>
  </div>

  <% @users = User.all %>
    <% @users.each do |user| %>
      <%=link_to user.name, user_show_path(user) %><br/>
  <% end %>

</div>
