<div class="card card-durag">
  <div class="names">
    <h3 style="font-family: 'Lobster', cursive;"> Owners </h3>
  </div>
  <ul>
    <% owners.each do |user| %>
      <li><%= link_to user.name, user_show_path(user) %><li/>
    <% end %>
  </ul>
</div>
