<center>
  <h1>what's going on
    <div class="btn-group">
      <button class="dropdown-toggle pretty-font" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= Event.today_or(@selected_day.to_s) %>
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
      </button>
      <div class="dropdown-menu"><%= day_link_list %></div>
    </div>
    <%= link_to "reset", events_path, class: "btn btn-sm btn-secondary" unless Event.current_day == @selected_day %>
  </h1>
</center>

<div class="col-md-10 col-md-offset-1">
  <% @events_today.each do |e| %>
    <%= render 'shared/event_card', event: e, location: true %>
  <% end %>
</div>
