<div class="card">
  <h4>
    <%= @event.name %>
  </h4>

  <h4 style="float: right">
    <%= "From " + @event.start_time.to_s(:time) + " to " + @event.end_time.to_s(:time) %>
  </h4>

  <p>
    <%= @event.description %>
  </p>

  <%= button_to "delete", @event, :method => :delete if @edit_mode %>
</div>
