.card {
  padding: 15px;
  background-color: white;
  border: 1px solid #D3D3D3 !important;
  box-shadow: none !important;
}

.event-card:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  position: relative;
}

.card-custom{
  margin-top: 50px;
}

.card-owner-list {
  margin-left: 20px;
  margin-top: 135px;
  width: 400px;
  height: 60% !important;
}

.card-durag {
  font-size: 20px;
}

#shabba {
  height: 70vw;
}

h4 {
  display: inline-block;
  font-size: 25px;
}

h5 {
  display: inline-block;
}

.card-text {
  color: #37474F;
}

p {
  padding-top: 8px;
  padding-left: 8px;
}

body {
  background-color: #F1F1F1;
}

.bod {

}

html {
  position: relative;
  min-height: 100%;
}

.container {
  padding-bottom: 250px;
}

.navbar-fixed-bottom {
  position: absolute;
  padding-bottom: 50px;
}

.btn-primary {
  margin-left: 0px !important;
}

.btn-default {
  margin-left: 0px !important;
}

.title {
  color: white;
}

.custom {
  color: white;
  font-size: 30px;
  text-align: center;
  font-family: 'Lobster', cursive;
}

textarea {
  resize: none;
 }

.pull-left {
   padding-left: 20px;
 }

.event-days {
  border-radius: 20px;
  background-color: lightblue;
  color: white;
  text-align: center;
  font-size: 18px;
}

.div-today {
  background-color: purple;
}

.div-tom {
  background-color: pink;
}

.dropdown-toggle {
  border: none;
}

.dropdown-toggle[aria-expanded="true"] {
  background:#F1F1F1;
}

.dropdown-toggle[aria-expanded="false"] {
  background:#F1F1F1;
}

.dropdown-item {
  font-size: 30px;
  margin: 15px;
}

.short-hd {
  margin-top: -5px;
}

.pretty-font {
  font-family: 'Lobster', cursive;
}

.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  margin-top: -15px;
}

.navbar {
  height: 140px;
  border-bottom: 0;
}

#mast-head {
  height: 200px;
  clear: both;
}

#mast-logo {
  height: 100%;
}

#content {
  padding-top: 140px;
  margin-bottom: 60px;
}

.no-top-bord {
  border-top: none !important;
}

a {
  color: #3f3f3f !important;
  text-decoration: none;
 }

 .time-icon {
   margin-right: 6px;
   margin-bottom: 2px;
   vertical-align: bottom;
 }
