.card {
  padding: 15px;
  background-color: white;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  position: relative;
}

.card-custom{
  margin-top: 50px;
}

.card-owner-list {
  margin-left: 20px;
  margin-top: 135px;
  width: 400px;
  height: 60% !important;
}

.card-durag {
  font-size: 20px;
}

#shabba {
  height: 70vw;
}

h4 {
  display: inline-block;;
}

h5 {
  display: inline-block;
}

.card-text {
  color: #37474F;
}

p {
  padding-top: 8px;
  padding-left: 8px;
}

body {
  padding-top: 70px;
  background-color: #F1F1F1;
}

.bod {
  padding-top: 80px;
}

html {
  position: relative;
  min-height: 100%;
}

.container {
  padding-bottom: 250px;
}

.navbar-fixed-bottom {
  position: absolute;
  padding-bottom: 50px;
}

.btn-primary {
  margin-left: 0px !important;
}

.btn-default {
  margin-left: 0px !important;
}

.title {
  color: white;
}

.custom {
  color: white;
  font-size: 30px;
  text-align: center;
  font-family: 'Lobster', cursive;
}

textarea {
  resize: none;
 }

.pull-left {
   padding-left: 20px;
 }

.event-days {
  border-radius: 20px;
  background-color: lightgray;
  color: white;
  text-align: center;
  font-size: 23px;
}

.div-today {
  background-color: purple;
}

.div-tom {
  background-color: pink;
}

.dropdown-toggle {
  border: none;
  border-bottom: 3px solid;
}

.dropdown-toggle[aria-expanded="true"] {
  background:#F1F1F1;
}

.dropdown-toggle[aria-expanded="false"] {
  background:#F1F1F1;
}

.dropdown-item {
  font-size: 30px;
  margin: 15px;
}

.short-hd {
  margin-top: -5px;
}

.pretty-font {
  font-family: 'Lobster', cursive;
}

.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  margin-top: -15px;
}
