.card {
  padding: 15px;
  margin-bottom: 10px;
}

.card-custom{
  margin-top: 50px;
}

h4 {
  display: inline-block;;
}

h5 {
  display: inline-block;
}

.card-text {
  color: #37474F;
}

p {
  padding-top: 8px;
  padding-left: 8px;
}

body {
  padding-top: 70px;
  background-color: #F1F1F1;
}

.bod {
  padding-top: 80px;
}

html {
  position: relative;
  min-height: 100%;
}

.container {
  padding-bottom: 250px;
}

.navbar-fixed-bottom {
  position: absolute;
  padding-bottom: 50px;
}

.btn-primary {
  margin-left: 0px !important;
}

.btn-default {
  margin-left: 0px !important;
}

.footer-copyright {
  text-align: center;
}

.title {
  color: white;
}

.custom {
  color: white;
  font-size: 30px;
  text-align: center;
  font-family: 'Lobster', cursive;
}

textarea {
  resize: none;
 }

.breadcrumb {
   background-color: #F1F1F1;
 }

.pull-left {
   padding-left: 20px;
 }

.event-days {
  border-radius: 20px;
  background-color: lightgray;
  color: white;
  text-align: center;
  font-size: 23px;
}

<<<<<<< HEAD
.dropdown-toggle {
  background-color: #F1F1F1;
  border: none;
  border-bottom: 2px dashed;
}

.dropdown-toggle[aria-expanded="true"] {
  background:#F1F1F1;

}

.dropdown-toggle[aria-expanded="false"] {
  background:#F1F1F1;
}

.dropdown-item {
  font-size: 30px;
  margin: 15px;

.short-hd {
  margin-top: -5px;
